.form-container {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    max-width: 100rem;
    padding: 2rem;
    margin: 0 auto;
}

.options-wrapper {
    flex-basis: 50%;
    width: 100%;
}

.question-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.option-item {
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 5rem;
    border: 0.1rem solid var(--text-color);
    overflow: hidden;
    direction: rtl;
}

.option-item:last-child {
    margin-bottom: 0;
}

.option-item--disabled {
    color: #9e9e9e;
    background-color: #f5f5f5;
    border-color: #9e9e9e;
}

.option-item--true {
    color: #4caf50;
    background-color: #e8f5e9;
    border-color: #4caf50;
}

.option-item--false {
    color: #f44336;
    background-color: #ffebee;
    border: 0.2rem dashed #f44336;
}

.option-item__bool {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0.2rem solid var(--text-color);
}

.option-item__bool {
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.option-item__bool:after {
    content: "";
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    display: block;
    visibility: visible;
    border: 0.1rem solid var(--text-color);
}

.option-item--true .option-item__bool::after {
    border: 0.2rem solid #4caf50;
}

.option-item--true .option-item__bool:checked:after {
    border: 0.2rem solid #4caf50;
}

.option-item--false .option-item__bool::after {
    border: 0.2rem solid #f44336;
}

.option-item--false .option-item__bool:checked:after {
    border: 0.2rem solid #f44336;
}

.option-item__answer {
    text-align: right;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    background-color: none;
    cursor: pointer;
}

.question-title-wrapper {
    margin-bottom: 3rem;
}

.question-number {
    font-size: 3rem;
    text-align: end;
    color: var(--primary-color);
}

.question-title {
    max-width: 100%;
    text-indent: 0.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: right;
}

.form-container__img-wrapper {
    text-align: center;
    flex-basis: 50%;
}

.question-img {
    width: 100%;
    display: block;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .form-container__img-wrapper,
    .options-wrapper {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .form-container {
        gap: 2rem;
        padding: 1rem;
    }

    .question-number {
        font-size: 2.5rem;
    }

    .question-title {
        font-size: 1.6rem;
    }

    .option-item__answer {
        font-size: 1.5rem;
    }
}
