.header {
    background-color: var(--primary-color);
}

.header .container {
    position: relative;
}

.header-wrapper {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: var(--text-color);
    margin-right: 2rem;
    font-weight: 600;
    font-size: 2.5rem;
    transition: 0.3s;
}

.header__title:hover {
    color: var(--yellow-color);
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    margin-left: 2rem;
}

.nav__item:last-child {
    margin-left: 0;
}

.nav__link {
    color: var(--text-color);
    transition: 0.3s;
}

.nav__link:hover {
    color: var(--yellow-color);
}

@media only screen and (max-width: 768px) {
    .nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: var(--primary-color);
        height: 0;
        overflow: hidden;
        transition: all 0.3s;
        opacity: 0;
    }

    .nav--open {
        height: 17.6rem;
        overflow: visible;
        opacity: 1;
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__item,
    .nav__link {
        display: block;
        width: 100%;
    }

    .nav__link {
        padding: 1rem;
    }

    .nav__link:hover {
        color: var(--text-color);
        background-color: var(--yellow-color);
    }
}

@media only screen and (max-width: 576px) {
    .header__title {
        font-size: 2rem;
    }
}
