.resualt-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 2px solid var(--primary-color);
    padding: 20px;
    width: 100%;
    max-width: 50rem;
}

.resualt-title {
    font-size: 3.5rem;
    color: var(--yellow-color);
    margin-bottom: 20px;
}

.answers-count-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.answers-count,
.time-value {
    font-size: 2rem;
    color: var(--primary-color);
    margin-right: 10px;
}

.answers-desc,
.time-desc {
    font-size: 2rem;
    color: var(--text-color);
}

.time-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.answers-count--accept {
    color: #4caf50;
}
.answers-count--reject {
    color: #f44336;
}
