.menu-container {
    background-color: bisque;
    height: 100vh;
    position:absolute;
    top: 0;
    left: -100%;
    width: 40%;
    min-width: 300px;
    transition: all 0.5s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    transition: all 0.3s ease;
}


.menu-container.show {
    left: 0;
}