.quiz-app {
    margin: 10rem 0;
}

.score {
    text-align: center;
}

.slick-next:before {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-next {
    background-color: var(--primary-color);
}

.slick-prev:before {
    display: none;
}