.quiz-app {
    margin: 10rem 0;
    min-height: calc(100vh - 7.75rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-app-wrapper {
    direction: ltr;
}



.finish-quiz-btn {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
}