@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap");

:root {
    --primary-color: #27bfc0;
    --text-color: #363636;
    --yellow-color: #ffc63c;
    --black-color: #212121;
    --red-color:#f44336;
    --green-color:#4caf50;
}

html {
    font-size: 62.5%;
    direction: rtl;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Vazirmatn", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
}

.container {
    max-width: 1326px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.start-quiz-btn,
.finish-quiz-btn {
    display: block;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 20px auto;
    border: 1px solid var(--primary-color);
}

.start-quiz-btn:hover,
.finish-quiz-btn:hover {
    background-color: #fff;
    color: var(--primary-color);
}

@media only screen and (max-width: 1400px) {
    .container {
        width: 1140px;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}

/* responsive range */
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
}
